<<<<<<< HEAD
body {
  margin: 0;
  font-family: sans-serif;
}

header {
  height: 500px;
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  color: white;

}
h1 {
  font-size: 50px;
  letter-spacing: -5px;
}
h1 span {
  color: hsl(194, 84%, 66%);
}
h1 a{
  text-decoration: none;
  color: inherit;
}
h1, ul {
  margin: 0;
  display: inline-block;
}
ul {
  float: right;
}
ul li{
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
  margin-left: 10px;
  /*padding: 23px 0;*/
}
ul li:hover{
  cursor: pointer;
}
ul li:hover, .active {
  background-color:  hsl(194, 84%, 66%);
  /*border-radius: 30px */
  border-top-right-radius: 20px 50%;
  border-bottom-right-radius: 20px 50%;
  border-top-left-radius: 20px 50%;
  border-bottom-left-radius: 20px 50%;
}

//* img {
  display: block;
  margin: 0 auto;
  top:50%;
  left:50%;

}

div.overlay {
  position:fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:hsla(0, 0%, 0%, .5);
}
div.popup{
  position:fixed;
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  width: 50%;
  margin: 0 auto;
  background: #fff;
  padding: 35px;
  border: 2px solid #000;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
  box-shadow: 0 10px 15px 10px white;
} */
=======
body {
  margin: 0;
  font-family: sans-serif;
}

header {
  height: 500px;
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  color: white;

}
h1 {
  font-size: 50px;
  letter-spacing: -5px;
}
h1 span {
  color: hsl(194, 84%, 66%);
}
h1 a{
  text-decoration: none;
  color: inherit;
}
h1, ul {
  margin: 0;
  display: inline-block;
}
ul {
  float: right;
}
ul li{
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
  margin-left: 10px;
  /*padding: 23px 0;*/
}
ul li:hover{
  cursor: pointer;
}
ul li:hover, .active {
  background-color:  hsl(194, 84%, 66%);
  /*border-radius: 30px */
  border-top-right-radius: 20px 50%;
  border-bottom-right-radius: 20px 50%;
  border-top-left-radius: 20px 50%;
  border-bottom-left-radius: 20px 50%;
}

//* img {
  display: block;
  margin: 0 auto;
  top:50%;
  left:50%;

}

div.overlay {
  position:fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:hsla(0, 0%, 0%, .5);
}
div.popup{
  position:fixed;
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  width: 50%;
  margin: 0 auto;
  background: #fff;
  padding: 35px;
  border: 2px solid #000;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
  box-shadow: 0 10px 15px 10px white;
} */
>>>>>>> 6bed368b0f0a09d788b1ffe45419dbf0baaa2ecb
