body{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 250px 150px 200px 100px;
  grid-template-areas:
  'header header header'
  '. main main'
  'aside main main'
  'aside foot foot';
  grid-gap: 10px;
}
.a{
  grid-area: header;
  background-color: hsl(118, 99%, 49%);
  /*grid-column: span 2;*/
}
.b{
  grid-area:aside;
  background-color: hsl(209, 87%, 48%);
  /*grid-column: 1;
  grid-row: 2 / span 3;*/
}
.c{
  grid-area:main;
  background-color: hsl(44, 81%, 47%);
  /*grid-column:2;
  grid-row: 3;*/
}
.d{
  grid-area:foot;
  background-color: hsl(303, 66%, 44%);
  /*grid-row: 1;
  grid-column: 1;*/

}
