@mixin border-style ($border-style) {
  border: 1px solid $border-style;
  border-radius: 10px;
  box-shadow: 0 10px 10px $seccondary-color;
}

@mixin el-calco($el-numo, $facolor){
  width: calc(100% / #{$el-numo});
  .fa {
    color: $facolor;
  }
}
