body{
  margin: 0;
  padding: 0;
  color: hsl(278, 60%, 47%);
  font-family: sans-serif;
}
ul li{
  padding: 0 20px;
  display: inline-block;


}
.button2:hover{
  cursor: pointer;
  border: solid blue 3px;
}
ul{
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
}
span{
  font-size: 2em;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80vh;
  text-align: center;

}
li:hover{
  border: solid blue 3px;
  border-radius: 5%;
}
li:nth-of-type(4){
  border: solid blue 3px;
  border-radius: 5%;
}
